@import url('./assets/css/vars.css');
@import url('./assets/css/reset.css');

html,
body {
  height: 100dvh;

  /* overflow: hidden; */
}

body {
  margin: 0;
}

/* Fix for scrollbar */

@supports (scrollbar-color: auto) {
  .custom-scroll {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }

  body {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }
}
